/*
 Name: Isabella Lanas
 Coding 02
 Purpose: Mobile-First front-end practice
 */

/*
 * your standard (i.e. mobile) css here
 */
body {
    margin: 0;
    padding: 0;
    font: san-serif;
    font-size: 20px;
    background: #810689;
    color: white;
}
.navContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    background: #2708C4;
    border-bottom-style: solid;
    border-color: #FFFFFF;
}
li {
    display: inline-block;
}
li a {
    padding: 0 3rem;
    text-decoration: none;
    color: #FFFFFF;
}
li a:hover {
    font-size: 20px;
    font-weight: bold;
    color: #B5AFAF;
}
.image {
    width: 100%;
}
.box-2 {
    padding: .5rem 2rem;
}
img {
    width: 100%;
}

p a {
    text-decoration: none;
    color: #0BC13A;
    font-size: 25px;
    font-weight: bold;
}
p a:hover {
    font-size: 27px;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

@media (min-width: 480px) {
    
}
